# Loading the Model

In [1]:
class Cars_Predicting_Model():
    
    def __init__(self, model, features, rmse):
        self.model = model
        self.features = features
        self.rmse = rmse

## Sample Input

In [2]:
data = {'KM_Driven' : 55, 
        'Fuel_Type_Petrol' : 1,
        'Transmission_Manual': 1, 
        'Owner_Type_First': 1,
        'Age': 5,
        'Seats' : 5,
        'Model_swift': 1,
        'Mileage' : 16, 
        'Power': 90,
        'Location_Bangalore': 1}

## Making Prediction

In [3]:
from joblib import load

In [4]:
model_object = load('cars_pred.pkl')

In [5]:
model_object.model

LinearRegression()

In [6]:
model_object.rmse

0.6049993203235854

In [7]:
model_object.features

['Seats',
 'Age',
 'Mileage',
 'Power',
 'KM_Driven',
 'Location_Ahmedabad',
 'Location_Bangalore',
 'Location_Chennai',
 'Location_Coimbatore',
 'Location_Delhi',
 'Location_Hyderabad',
 'Location_Jaipur',
 'Location_Kochi',
 'Location_Kolkata',
 'Location_Mumbai',
 'Location_Pune',
 'Fuel_Type_Diesel',
 'Fuel_Type_Petrol',
 'Transmission_Automatic',
 'Transmission_Manual',
 'Owner_Type_First',
 'Owner_Type_Second',
 'Owner_Type_Third',
 'Model_a-star',
 'Model_alto',
 'Model_baleno',
 'Model_celerio',
 'Model_ciaz',
 'Model_dzire',
 'Model_eeco',
 'Model_ertiga',
 'Model_omni',
 'Model_ritz',
 'Model_swift',
 'Model_vitara',
 'Model_wagon',
 'Model_zen']

In [8]:
car = {}

In [9]:
for feature in model_object.features:
    car[feature] = data.get(feature,0.0)

In [10]:
car

{'Seats': 5,
 'Age': 5,
 'Mileage': 16,
 'Power': 90,
 'KM_Driven': 55,
 'Location_Ahmedabad': 0.0,
 'Location_Bangalore': 1,
 'Location_Chennai': 0.0,
 'Location_Coimbatore': 0.0,
 'Location_Delhi': 0.0,
 'Location_Hyderabad': 0.0,
 'Location_Jaipur': 0.0,
 'Location_Kochi': 0.0,
 'Location_Kolkata': 0.0,
 'Location_Mumbai': 0.0,
 'Location_Pune': 0.0,
 'Fuel_Type_Diesel': 0.0,
 'Fuel_Type_Petrol': 1,
 'Transmission_Automatic': 0.0,
 'Transmission_Manual': 1,
 'Owner_Type_First': 1,
 'Owner_Type_Second': 0.0,
 'Owner_Type_Third': 0.0,
 'Model_a-star': 0.0,
 'Model_alto': 0.0,
 'Model_baleno': 0.0,
 'Model_celerio': 0.0,
 'Model_ciaz': 0.0,
 'Model_dzire': 0.0,
 'Model_eeco': 0.0,
 'Model_ertiga': 0.0,
 'Model_omni': 0.0,
 'Model_ritz': 0.0,
 'Model_swift': 1,
 'Model_vitara': 0.0,
 'Model_wagon': 0.0,
 'Model_zen': 0.0}

In [11]:
import pandas as pd

In [12]:
car_df = pd.DataFrame(car, index= [0])

In [13]:
car_df

,Seats,Age,Mileage,Power,KM_Driven,Location_Ahmedabad,Location_Bangalore,Location_Chennai,Location_Coimbatore,Location_Delhi,...,Model_ciaz,Model_dzire,Model_eeco,Model_ertiga,Model_omni,Model_ritz,Model_swift,Model_vitara,Model_wagon,Model_zen
0,5,5,16,90,55,0.0,1,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1,0.0,0.0,0.0

In [14]:
price = model_object.model.predict(car_df)[0]

In [15]:
price

5.124399268852194

In [16]:
price - model_object.rmse, price + model_object.rmse

(4.5193999485286085, 5.72939858917578)